<div class="m-age">

    <div class="m-age--header">
  
      <div class="m-age--header-inner">
        <h1 i18n="@@ACCOUNTAGE__TITLE">Account Age</h1>
        <h3 i18n="@@ACCOUNTAGE__SUBTITLE">How Many Hours?</h3>
      </div>
      <div *ngIf="!!hours; else loggedOut" class="m-age--contents">
        <span i18n="@@ACCOUNTAGE__INTRO">You have been a member for</span>
        <span>
          <span class="m-age--count">{{hours}}</span>
          <label i18n="@@ACCOUNTAGE__LABEL">hours</label>
        </span>
      </div>
      <ng-template #loggedOut>
        <div class="m-age--contents">
          <span i18n="@@ACCOUNTAGE__ERROR" class="m-age--error">
            <a href="/login" routerLink="/login">Log in</a> to see how many hours old your account is.
          </span>
        </div>
      </ng-template>
      
    </div>   
    
    <m-footer></m-footer>
  </div>
  
